body {
  color: #5a5a5a;
  font-family: 'Open Sans', sans-serif;
}
h2{
    font-family: 'Montserrat', sans-serif;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
#navbar-wrap {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  margin-top: 0px;
}
nav{
    margin:0px;
}
.container-list{
    margin: 0px;
    padding-bottom: 30px;
    padding-top: 20px;
}
#navbar{
    float:right;
    padding-bottom: 20px;
    padding-right: 30px;
}
.navbar-header{
    padding-left: 30px;
}
/* Flip around the padding for proper display in narrow viewports*/
.navbar-wrapper > .container-nav {
  padding-right: 0;
  padding-left: 0;
    margin: 0px;
    background-color: #101010;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
    padding-top: 15px;
  margin-bottom: 0px;
}
.navbar-wrapper .navbar .container {
  width: 100%;
}
a.navbar-brand{
    padding: 0px;
    padding-left: 4px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}


/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}

.carousel-caption {
  z-index: 10;
  font-family: 'Montserrat', sans-serif;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
#myCarousel{
    margin-bottom: 0px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
    padding-top: 50px;
    margin-top: 0px;
}
.marketing .col-lg-4 p {
    margin: 15px;
}
.container.marketing{
    margin:0px;
    width: 100%;
}

/* Featurettes
------------------------- */

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: 2px;
}
#about{
    padding:50px;
    margin-bottom: 20px;
    
}
.lead{
    text-align: justify;
    line-height: 2;
}
.meet{
    text-align: center;
    font-size: 20px;
}
#events{
    background-color:#E9EAED;
    padding: 50px;
}
#img{
    border-radius: 50px;   
}
#join{
    padding: 50px;
    text-align:center;
        
}
.text-muted{
    font-size: 30px;
    font-weight: 300;
}

footer{
 background-color:#101010;  
    color:white;
    padding: 30px;
}
.icon{
    width: 50px;
    height:50px;
}
.img-circle{
    width: 200px;
    height:200px;
}
.pull-right{
    width: 50px;
    height: 50px;
    padding: 20px;
    color: #0E77CD;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
      font-family: 'Montserrat', sans-serif;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
